@import 'bootstrap.min.css';
@import 'simple-line-icons.css';
ol,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul.nav li {
    cursor: pointer;
}
ul.nav li a {
    cursor: pointer;
}
.f-right {
    float: right !important;
}
.nav-tabs > li > a {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.nav-tabs > li > a::before {
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    background: #566473;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 40px;
    transition: transform 0.3s;
    width: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.nav-tabs.nav-primary > li > a::before {
    background-color: #319db5;
}
.nav-tabs.nav-blue > li > a::before {
    background-color: #00a2d9;
}
.nav-tabs.nav-red > li > a::before {
    background-color: #c75757;
}
.nav-tabs.nav-green > li > a::before {
    background-color: #18a689;
}
.nav-tabs.nav-yellow > li > a::before {
    background-color: #ff9122;
}
.nav-tabs .active a::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-tabs a:hover::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-tabs a:focus::before {
    width: 100%;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-tabs:after {
    bottom: 3px;
    position: relative;
    width: 100%;
    z-index: 120;
}
.nav.nav-tabs > li > a {
    background-color: #fff;
    border: none;
    color: #939393;
}
.nav.nav-tabs > li > a i {
    padding-right: 8px;
}
.nav.nav-tabs > li.active > a {
    background-color: #fff;
    /*border-bottom: none;*/
    color: #121212;
}
.nav.nav-tabs > li:hover > a {
    background-color: #fff;
    color: #ffffff;
}
.append-icon {
    position: relative;
}
.append-icon input {
    padding-right: 36px;
}
.append-icon i {
    font-size: 14px;
    height: 34px;
    left: auto;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 36px;
}
.append-icon .input-lg ~ i {
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    width: 46px;
}
.prepend-icon {
    position: relative;
}
.prepend-icon input {
    padding-left: 36px;
}
.prepend-icon span {
    padding-left: 36px;
}
.prepend-icon i {
    font-size: 14px;
    height: 34px;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 36px;
}

.hidden {
    display: none !important;
}
a {
    color: #4285f4;
    text-decoration: none
}
a:hover {
    color: #3b78e7;
    text-decoration: underline
}
#room-link a {
    white-space: nowrap
}
body {
    background-color: #333;
    font-family: 'Roboto', 'Open Sans', 'Lucida Grande', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff
}
#remote-canvas {
    display: none;
    height: 100%;
    margin: 0 auto;
    width: 100%
}
div.warning {
    background-color: #a80202;
    color: #000;
    font-weight: 400;
    opacity: .9
}
#container {
    height: 100%;
    position: absolute
}
#info-div {
    z-index: 3
}
#room-link {
    margin: 0 0 29px 0
}
#status {
    z-index: 4
}
#videos {
    font-size: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: all 1s;
    width: 100%
}
#videos.active {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
footer>div {
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: .9em;
    font-weight: 300;
    line-height: 1em;
    max-height: 80%;
    opacity: 0;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    transition: opacity 1s;
    width: calc(100% - 20px)
}
footer>div.active {
    display: block;
    opacity: .8
}
html {
    height: 100%;
    margin: 0;
    width: 100%
}
label {
    margin: 0 10px 0 0
}
#local-video {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: opacity 1s;
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: 100%
}
#mini-video {
    border: 1px solid gray;
    top: 20px;
    right: 20px;
    max-height: 25%;
    max-width: 25%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s
}
#mini-video.active {
    opacity: 1;
    z-index: 2
}
#remote-video {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: opacity 1s;
    width: 100%
}
#remote-video.active {
    opacity: 1;
    z-index: 1
}
button {
    background-color: #4285f4;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: .8em;
    margin: 0 5px 20px 5px;
    width: 8em;
    height: 2.75em;
    padding: .5em .7em .5em .7em;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5)
}
button:active {
    background-color: #3367d6
}
button:hover {
    background-color: #3b78e7
}
button:focus {
    outline: none;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5)
}
button[disabled] {
    color: #4c4c4c;
    color: rgba(255, 255, 255, .3);
    background-color: #1e1e1e;
    background-color: rgba(255, 255, 255, .12)
}
input[type="text"] {
    border: none;
    border-bottom: solid 1px #4c4c4f;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    padding: .4em 0;
    margin-right: 20px;
    width: 100%;
    display: block
}
input[type="text"]:focus {
    border-bottom: solid 2px #4285f4;
    outline: none
}
input[type="text"].invalid {
    border-bottom: solid 2px #f44336
}
label.error-label {
    color: #f44336;
    font-size: .85em;
    font-weight: 200;
    margin: 0
}
#room-id-input-div {
    margin: 15px
}
#room-id-input-buttons {
    margin: 15px
}
h1 {
    font-weight: 300;
    margin: 0 0 .8em 0;
    padding: 0 0 .2em 0
}
div#room-selection {
    margin: 3em auto 0 auto;
    width: 25em;
    padding: 1em 1.5em 1.3em 1.5em
}
div#user-list{
    margin:2em auto 0;
    width:90%;
    padding:1em 1.5em 1.3em
}
p {
    color: #eee;
    font-weight: 300;
    line-height: 1.6em
}
#icons {
    bottom: 77px;
    left: 6vw;
    position: absolute;
    z-index: 999;
}
circle {
    fill: #666;
    fill-opacity: .6
}
svg.on circle {
    fill-opacity: 0
}
path.on {
    display: none
}
path.off {
    display: block
}
svg.on path.on {
    display: block
}
svg.on path.off {
    display: none
}
svg {
    box-shadow: 2px 2px 24px #444;
    border-radius: 48px;
    display: block;
    margin: 0 0 3vh 0;
    transform: translateX(calc(-6vw - 96px));
    transition: all .1s;
    transition-timing-function: ease-in-out
}
svg:hover {
    box-shadow: 4px 4px 48px #666
}
#icons.active svg {
    transform: translateX(0)
}
#mute-audio {
    transition: 40ms
}
#mute-audio:hover,
#mute-audio.on {
    background: #ab47bc
}
#mute-audio:hover circle {
    fill: #ab47bc
}
#mute-video {
    transition: 120ms
}
#mute-video:hover,
#mute-video.on {
    background: #ff9f00
}
#mute-video:hover circle {
    fill: #ff9f00
}
#switch-video {
    transition: 200ms
}
#switch-video:hover {
    background: #12a256
}
#switch-video:hover circle {
    fill: #12a256
}
#fullscreen {
    transition: 280ms
}
#fullscreen:hover,
#fullscreen.on {
    background: #407cf7
}
#fullscreen:hover circle {
    fill: #407cf7
}
#hangup {
    transition: 360ms
}
#hangup:hover {
    background: #dd2c00
}
#hangup:hover circle {
    fill: #dd2c00
}

div#user-list .mailbox-page {
    margin-bottom: 15px;
}
div#user-list .mailbox-page h1 {
    /*font-family: 'Lato', arial, sans-serif;*/
    font-weight: 900;
    font-size: 32px;
}
div#user-list .mailbox-page input {
    font-size: 18px;
}
div#user-list .mailbox-page .append-icon i {
    font-size: 20px;
    padding-right: 6px;
    padding-top: 4px;
}
div#user-list .nav-tabs a {
    /*font-family: 'Lato', arial, sans-serif;*/
    font-weight: 900;
    font-size: 12px;
}

div#user-list .nav-tabs a {
    /*font-family: 'Lato', arial, sans-serif;*/
    font-weight: 900;
    font-size: 12px;
}
div#user-list .nav-tabs a::before {
    background: #4285f4;
    height: 2px;
    top: 37px;
}
div#user-list .nav-tabs .open > a {
    background: none;
}
div#user-list .nav-tabs .open > a:hover {
    background: none;
}
div#user-list .nav-tabs .open > a:focus {
    background: none;
}
div#user-list .nav.nav-tabs > li > a {
    background: inherit;
}
div#user-list .nav.nav-tabs > li.active > a {
    background: inherit;
    color: #4285f4;
    margin-bottom: 2px;
    margin-right: 0;
}
div#user-list .nav.nav-tabs > li.active > a:hover {
    border: none;
}
div#user-list .nav.nav-tabs > li:hover > a {
    background: inherit;
}
div#user-list .nav-tabs > li i {
    color: #C3C3C3;
    font-size: 20px;
    padding-right: 12px;
}
div#user-list .nav-tabs > li i:hover {
    color: #7e7e7e;
}
div#user-list .nav-tabs > li i.icon-rounded-heart:hover {
    color: #C75757;
}