<div id="user-list">

    <section>
        <div class="mailbox-page">
            <h1>Lista de usuarios activos</h1>
            <div class="append-icon">
                <input type="text" id="user-search" placeholder="Buscar..." ng-model="search">
                <i class="icon-magnifier"></i>
            </div>
        </div>
        <ul class="nav nav-tabs text-right">
            <li class="f-right" ng-class="{active: sortby === 'date'}"><a ng-click="sortby = 'date'">Recientes</a></li>
            <li class="f-right" ng-class="{active: sortby === 'name'}"><a ng-click="sortby = 'name'">Alfabeticamente</a></li>
        </ul>
        <div class="mt-10"></div>
        <div id="portfolio" class="portfolio-6 portfolio-nomargin portfolio-fullwidth clearfix" ng-cloak>

            <article class="portfolio-item" ng-repeat="u in srv.users | filter:search | orderBy: sortby track by $index">
                <portforlio-item user="u" call="makeCall($index)"></portforlio-item>
            </article>
        </div>
    </section>
</div>
<footer>
    <div id="status-div" ng-class="{active: !srv.online}">Fuera de linea</div>
</footer>